<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <pages>
      <namespaces>
        <add namespace="System.Runtime.Serialization"/>
        <add namespace="System.ServiceModel"/>
        <add namespace="System.ServiceModel.Web"/>
      </namespaces>
    </pages>
  </system.web>
 
  <system.serviceModel>
    <services>
      <service name="Services.Service" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="Services.IService" />
        <endpoint address="web" binding="webHttpBinding" behaviorConfiguration="web" contract="Services.IService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors> 
        <behavior name="ServiceBehaviour"> 
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="Service.svc" service="Services.Service"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
